/* base.css */
/* reset + variables + common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: var(--white);
}

:root {
  --black: #000;
  --white: #fff;
  --blue: #206dfb;
  --darkBlueColor: #122649;
  --lightBlueColor: #3c73ad;
  --green: #2ed47a;
  --orange: #fdab44;
}

h1 {
  color: var(--white);
  margin-top: 10px;
}

.btn {
  padding: 20px;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


.primary-button {
  background-color: var(--blue);
  color: var(--white);
}

.primary-button:hover {
  background-color: var(--white);
  color: var(--black);
}

.secondary-button {
  background-color: var(--orange);
  color: var(--white);
}

.secondary-button:hover {
  background-color: var(--white);
  color: var(--black);
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out forwards;
}