.custom-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-wrapper {
  border-bottom: 1px solid #eee;
  background-color: var(--);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* .heroCard-bg {
  position: relative;
  background-image: url(../../public/images/bg_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  z-index: 1;
  top: -64px;
}

.heroCard-bg::after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.8;
  background: #000000;
  background: #207dff;
  background: -moz-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #207dff),
    color-stop(100%, #a16ae8)
  );
  background: -webkit-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -o-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -ms-linear-gradient(left, #207dff 0%, #a16ae8 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#207dff),
    to(#a16ae8)
  );
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
}

.heroCard-content {
  position: relative;
  z-index: 1;
  top: 200px;
}

.heroCard-form {
  width: 80%;
}

.heroCard-formBox {
  padding: 24px;
  background-color: var(--white);
} */

.heroCard-bg {
  position: relative;
  width: 100%;
  height: 720px;
  background-image: url("/images/bg_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -64px;
}

/* Gradient overlay */
.heroCard-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #207dff 0%, #a16ae8 100%);
  opacity: 0.88;
  z-index: 0;
}

/* Center content */
.heroCard-content {
  position: relative;
  z-index: 1;
  padding-top: 180px;
  text-align: center;
  color: #fff;
}

/* Heading */
.heroCard-text h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

.heroCard-text p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* =========================
   COUNTERS
========================= */

.counter-cards {
  margin-top: 30px;
}

.counter-cards > div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.counter-cards svg {
  font-size: 34px;
}

.counter-cards h2 {
  font-size: 26px;
  font-weight: 600;
}

.counter-cards p {
  font-size: 13px;
  opacity: 0.9;
}

/* =========================
   SEARCH FORM + TABS
========================= */

.heroCard-form {
  margin-top: 45px;
}

/* Tabs */
.heroCard-form .btn {
  padding: 14px 32px;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  border: none;
  cursor: pointer;
}

.heroCard-form .primary-button {
  background: #ffffff;
  color: #000;
  font-weight: 500;
}

.heroCard-form .secondary-button {
  background: #fdab44;
  color: #fff;
}

/* Form box */
.heroCard-formBox {
  background: #ffffff;
  border-radius: 0 8px 8px 8px;
  padding: 24px;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* Inputs */
.heroCard-formBox input,
.heroCard-formBox select {
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 14px;
  font-size: 14px;
  width: 100%;
  color: var(--black);
}

/* Button */
.heroCard-formBox button {
  height: 54px;
  background: #206dfb;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.topCategories-section {
  background: #ffffff;
  /* padding: 60px 0; */
  /* margin-top: -120px;  */
  position: relative;
  z-index: 2;
}

.topCategories-grid {
  position: absolute;
  top: -34px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Card */
.topCategory-card {
  background: #ffffff;
  padding: 40px 20px;
  text-align: center;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease;
}

.topCategory-card h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #000;
}

.topCategory-card p {
  font-size: 14px;
  color: #666;
}

.topCategory-card span {
  font-weight: 600;
}

/* Active card */
.topCategory-card.active {
  background: #fdab44;
}

.topCategory-card.active h3,
.topCategory-card.active p,
.topCategory-card.active span {
  color: #ffffff;
}

/* JOB CATEGORIES SECTION */

.jobCategories-section {
  padding: 80px 0;
  background: #ffffff;
}

.jobCategories-heading {
  text-align: center;
  margin-bottom: 50px;
}

.jobCategories-heading span {
  font-size: 12px;
  letter-spacing: 2px;
  color: #999;
  display: block;
  margin-bottom: 10px;
}

.jobCategories-heading h2 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
}

/* Grid */
.jobCategories-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* Column */
.jobCategory-column {
  list-style: none;
}

/* Item */
.jobCategory-item {
  border-bottom: 1px solid #eee;
}

.jobCategory-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Text */
.jobCategory-item h4 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin-bottom: 6px;
}

.jobCategory-item p {
  font-size: 14px;
  color: #999;
}

.jobCategory-item p span {
  color: #fdab44;
  font-weight: 500;
}

/* Arrow */
.jobCategory-item .arrow {
  font-size: 22px;
  color: #ccc;
  transition: all 0.3s ease;
}

/* Hover */
.jobCategory-item a:hover {
  background: #fff3e0;
}

.jobCategory-item a:hover h4 {
  color: #206dfb;
}

.jobCategory-item a:hover .arrow {
  color: #206dfb;
  transform: translateX(4px);
}

/* HOME CTA SECTION */

.homeCta-section {
  padding: 80px 0;
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
}

.homeCta-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

/* Card */
.homeCta-card {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.homeCta-card svg {
  font-size: 46px;
  margin-bottom: 20px;
}

.homeCta-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

.homeCta-card p {
  font-size: 15px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.9);
}

/* FEATURED JOBS SECTION */

.featured-section {
  padding: 100px 0;
  background-color: #f8f9fa;
}

.featured-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.featured-subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  color: #207dff;
  display: block;
  margin-bottom: 10px;
}

.featured-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 40px;
}

/* JOB CARD */
.job-card {
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-info h3 {
  font-size: 22px;
  margin: 10px 0;
}

.job-meta {
  font-size: 14px;
  color: #777;
  display: flex;
  gap: 20px;
}

/* TYPE BADGES */
.job-type {
  font-size: 12px;
  text-transform: uppercase;
  color: #207dff;
}

/* BUTTON */
.apply-btn {
  background-color: #206dfb;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
}

/* SIDEBAR */
.featured-sidebar {
  background-color: #ffffff;
  padding: 30px;
}

.sidebar-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.company-card {
  text-align: center;
  margin-bottom: 30px;
}

.company-card img {
  max-width: 140px;
  margin-bottom: 15px;
}

.company-card h4 {
  font-size: 18px;
}

.company-card p {
  font-size: 14px;
  color: #777;
}

.company-card span {
  background-color: #fdab44;
  color: #fff;
  padding: 4px 8px;
  margin-right: 5px;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  padding: 100px 0;
  background-color: #ffffff;
}

.testimonial-header {
  text-align: center;
  margin-bottom: 60px;
}

.testimonial-subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  color: #207dff;
  display: block;
  margin-bottom: 10px;
}

.testimonial-title {
  font-size: 36px;
  font-weight: 500;
}

/* CARD */
.testimonial-card {
  background-color: #ffffff;
  padding: 40px;
  border: 1px solid #eee;
  height: 100%;
}

.testimonial-text {
  font-size: 16px;
  color: #777;
  line-height: 26px;
  margin-bottom: 30px;
}

/* USER */
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonial-user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-user h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

.testimonial-user span {
  font-size: 14px;
  color: #999;
}

/* SWIPER DOTS */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ddd;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #207dff;
}

/* BLOG SECTION */

.blog-section {
  padding: 80px 0;
  background-color: #fff;
}

.blog-header {
  text-align: center;
  margin-bottom: 60px;
}

.blog-subtitle {
  display: block;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--blue);
  margin-bottom: 10px;
  font-weight: 600;
}

.blog-title {
  font-size: 42px;
  font-weight: 500;
  color: #000;
}

/* Grid */

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

/* Card */

.blog-card {
  display: flex;
  flex-direction: column;
}

.blog-image {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.blog-img {
  object-fit: cover;
}

.blog-content {
  padding-top: 20px;
}

.blog-meta {
  display: flex;
  gap: 16px;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.blog-heading {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}

/* FOOTER */

.footer {
  background-color: #f8f9fa;
  padding: 80px 0 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 14px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  font-size: 14px;
  color: #777;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--blue);
}

/* Social Icons */

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-socials a {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  font-size: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

/* Contact */

.footer-contact {
  list-style: none;
}

.footer-contact li {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}

.footer-contact svg {
  color: var(--blue);
  margin-top: 4px;
}

/* Bottom */

.footer-bottom {
  border-top: 1px solid #e5e5e5;
  margin-top: 60px;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 13px;
  color: #888;
}

@media (min-width: 375px) {
  .custom-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 425px) {
  .custom-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 520px;
  }

  /* top categories */
  .topCategories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  /* blog section */
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer section */
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
  }

  /* job categories */
  .jobCategories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* home cta */
  .homeCta-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* testimonial */
  .testimonial-title {
    font-size: 40px;
  }
}

@media (min-width: 991px) {
  .custom-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /* featured jobs */
  .featured-grid {
    grid-template-columns: 2fr 1fr;
  }
  /* blog section */
  .blog-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog-title {
    font-size: 48px;
  }
  
  /* footer section */
  .footer-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .custom-container {
    max-width: 991px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* top categories */
  .topCategories-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /* job categories */
  .jobCategories-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /* home cta */
  .homeCta-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .custom-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
